 
 body{
   margin: 0;
   
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }
 #firstPager{
  background-image: url('whiteParallax.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }
 #footing{
   background: rgba(1, 1, 1, 0.1)
 }
 h1{
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  color: #eee!important;
 }
 h2{
   color: #333!important;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important; */
   /* text-shadow: 2px 2px 4px #000000!important; */
 }
 /* h3{}
 h4{}
 h5{} */
 h6{
   font-family: Arial, Helvetica, sans-serif;
  color: #333!important; 
  padding: 10px!important;
  font-size:20px !important;
 }
 #introtext{
  position: relative;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: moveit2;
  -webkit-animation-duration: 1s;
  /* Standard syntax */
  animation-name: moveit2;
  animation-duration: 1s;
 }
 #introtext1{
  position: relative;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: moveit2;
  -webkit-animation-duration: 1s;
  /* Standard syntax */
  animation-name: moveit2;
  animation-duration: 1s;
 }
 #introtextHolder{
  position: relative;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: moveit;
  -webkit-animation-duration: 1s;
  /* Standard syntax */
  animation-name: moveit;
  animation-duration: 1s;
 }
   /* Chrome, Safari, Opera */
   @-webkit-keyframes moveit {
    from {left: -50%;}
    to {left: 0;}
}
 
/* Standard syntax */
@keyframes moveit {
    from {left: -50%;}
    to {left: 0;}
}
@-webkit-keyframes moveit2 {
  from {left: 100%;}
  to {left: 0;}
}

/* Standard syntax */
@keyframes moveit2 {
  from {left: 100%;}
  to {left: 0;}
}
 .moviePrize{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 1px;
 }
 
 
#navigation {
 
  border-radius: 0;
  
}
/* 
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: white !important;
  color:black!important;
} */
.navbar-toggle{
  background-color: rgba(34, 109, 114, 0.486) !important;
}
.breadcrumb{
  margin-bottom: 0  !important;
  border-radius: 0 !important;
  background-color: rgba(34, 109, 114, 0.486) !important;
}
.jumbotron{
  margin-top: 30px;
  padding-top: 7px !important;
  background: rgba(0, 0, 0, 0.5)!important;

}
#myNavbar{
  /* background-color: white; */
  padding: 20px;
  
}
#brand-image{
  height: 80px;
  margin-top: -10px;
  padding-left: 10px;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:100px;
  
}

/* hide my brand image */
@media (max-width:768px){
  #brand-image{
    display: none;
  }
}
.movie-card{
  float:left !important;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top:15px;
  margin-bottom: 15px;
  
}
@media (min-width:960px){
  .movie-card {
      width: 25% !important;
  }
}
@media (max-width:960px){
  .movie-card {
      width: 33.33% !important;
  }
}
@media (max-width: 768px){
  .movie-card {
      width: 50% !important;
  }
}
@media (max-width: 480px){
  .movie-card {
      width: 100% !important;
    }
}


/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none; 
}
}
#galleria{
  margin-top:20px;     
  margin-bottom: 50px;       
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#galleria:hover{
  background:#fff;
  color:#1AAB8A;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
}
#galleria:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#galleria:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#galleria:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
#team1{
  /* width: 33.33%; */
  height:150px;
  border-radius: 50%;
  transition: transform .2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#team2{
  /* width: 33.33%; */
  height:150px;
  border-radius: 50%;
  transition: transform .2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#team3{
  /* width: 33.33%; */
  height:150px;
  border-radius: 50%;
  transition: transform .2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#team1:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);

}
#team2:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
}
#team3:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  /* width: 100%; */
  background-color: rgba(238, 238, 238,0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
  /* background-color: rgba(0,0,0,0.7); */
  
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #004D40;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #00695C;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  /* padding: 10px; */
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
}

